<?xml version="1.0"?>
<config>
  <modules>
    <Testing_Tesy>
      <version>0.1.0</version>
    </Testing_Tesy>
  </modules>
  <frontend>
    <routers>
      <tesy>
        <use>standard</use>
          <args>
            <module>Testing_Tesy</module>
            <frontName>tesy</frontName>
          </args>
      </tesy>
    </routers>
		<layout>
		  <updates>
			<tesy>
			  <file>tesy.xml</file>
			</tesy>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <tesy>
        <class>Testing_Tesy_Helper</class>
      </tesy>
    </helpers>
	<blocks>
	  <tesy>
		<class>Testing_Tesy_Block</class>
	  </tesy>
	</blocks>
  </global>
</config> 