@charset "utf-8";
/* CSS Document */

/* Global Styles ========================================================================= */
.clr { clear:both; }


/* Recipe Category / Post ========================================================================= */
.recipe article.post  { border-bottom:1px solid #efefef; margin-bottom:20px; padding-bottom:10px; }
.recipe article.post .post-title { border-bottom:0; margin:0; font-size:20px; }
.recipe article.post .post-metadata { padding:10px 0; }
.recipe article.post .post-summary .read-more { padding-bottom:5px; }
.recipe article.post .post-info { padding:10px 0; }
.recipe article.post .post-info .post-categories li  { display:inline; }
.recipe article.post .post-info ul.post-categories { float:left; }
.recipe article.post .post-info li.post-comments { float:right; }


/* Recipe Commenting ========================================================================= */
.recipe-detail .comments-list { }
.recipe-detail .comments-list li { border-bottom:1px solid #efefef; padding:10px 0px 20px; margin-bottom:10px; }
.recipe-detail .comments-list .comment-metadata { margin-bottom:10px; }
.recipe-detail .comments-list .comment-metadata h4 { display:inline; }
.recipe-detail .comments-list .comment-metadata li { display:inline; border:none; }


/* Block: Recipe ========================================================================= */
.block-recipe { }
.block-recipe .block-content { padding:8px 12px; }

/* Widget: Latest Posts ========================================================================= */
.recipe-latest-widget {  }
.widget-recipe-link { display:block; text-align:left; }